<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <style>
        body { text-align: center; font-family: Arial; }
        #timer { font-size: 26px; color: red; margin: 10px; }
    </style><h2>💰 Pay ₹700</h2>
<div id="timer"></div>

<img src="{{ url_for('static', filename=qr_file) }}" width="220">

<form action="/verify" method="POST">
    <input name="reg_id" placeholder="Enter REG_ID" required>
    <button>Verify</button>
</form>

<script>
let t = {{ remaining_seconds }};
setInterval(()=>{
    if(t<=0){ location.href="/"; }
    let m=Math.floor(t/60);
    let s=t%60;
    document.getElementById("timer").innerHTML = m+":"+s;
    t--;
},1000);
</script>
</head>
<body>

<h2>💰 Pay ₹700</h2>

<div id="timer">300</div>
   <script>
    let timeLeft = {{ remaining_seconds }};

    const timerEl = document.getElementById("timer");

    const interval = setInterval(() => {

        if (timeLeft <= 0) {
            clearInterval(interval);
            timerEl.innerHTML = "00:00";

            setTimeout(() => {
                window.location.href = "/";
            }, 2000);

            return;
        }

        const minutes = Math.floor(timeLeft / 60);
        const seconds = timeLeft % 60;

        timerEl.innerHTML =
            String(minutes).padStart(2, '0') + ":" +
            String(seconds).padStart(2, '0');

        timeLeft--;

    }, 1000);
</script>

</body>
</html>
