<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        .box {
            display: inline-block;
            padding: 30px;
            border: 2px solid green;
            border-radius: 10px;
        }

        .id {
            font-size: 24px;
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>🎉 Registration Successful</h2>

    <p>Your Registration ID:</p>
    <div class="id">{{ reg_id }}</div>

    <p>Save this ID for payment & verification.</p>
</div>
<script>
function copyID() {
    navigator.clipboard.writeText("{{ reg_id }}");
    alert("Copied!");
}
</script>

</body>
</html>
